@font-face{
  font-family: Basscrw;
  src: url(./Fonts/basscrw/Basscrw.ttf);
}
@font-face{
  font-family: Roboto;
  src: url(./Fonts/Roboto/Roboto-MediumItalic.ttf);
}
@font-face{
  font-family: RobotoLight;
  src: url(./Fonts/Roboto/Roboto-LightItalic.ttf);
}
body,h1, h2, p{
  margin-top: 1%;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  font-family:Roboto;
  line-height: 1.6;
}  
.bkg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, #E48E42, #DE6C67);
}
.column{
  flex: 1;
  flex-wrap: wrap;
  border-radius: 25px;
  grid-template-columns: repeat(1, minmax(200px 1fr));
  gap: 20%; 
  padding: 3% 10%;
  transition: background-color 0.3;
  background-color:#000607;  
}
.paragraph {
  font-family:RobotoLight;
  font-size: 100%;
  padding-bottom: 0%; 
  color:#fafbfc;
}
#nav>header{ 
  display:flex;
  width: 100%;
  padding-top: 5%;
  font-size: 60px;
  color:#0D001F;
  max-width: 100%;
  justify-content:center;
}
a{
  flex: 1;
  margin: 0%;
  text-decoration: none;
  font-family:Basscrw;
  text-decoration:none;
}
i{
  flex: 1;
  margin: 0.1%;
}
h2{
  display: flex;
  text-align: center;
  font-size: 170%;
  color:#ffffff;
}
h3{
  display: flex;
  text-align: center;
  font-size: 170%;
  color:#a422ef;
}
h4{
  color: rgb(8, 0, 0);
}
h5{
  display: flex;
  text-align: center;
  font-size: 170%;
  color:#0637ea;
}
h6{
  display: flex;
  text-align: center;
  font-size: 170%;
  color:#edf505;
}
i:hover{
color: #fa0404;
}
#page>#nav{
  display: flex;
  align-items: center;
  padding: 0px 8px;
  position: absolute;
  height: 16%;
  width: 100%;
}
.container{ 
  overflow: visible;
  display:flex;
  flex-wrap: wrap;
  margin: 0% auto;
  padding-bottom: 0%;
  align-items: center;
  gap: 10px;
  box-sizing:content-box;
  justify-content: center;
}
.row{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr)); 
  gap: 50px;
  transition: background-color 0.3;
  padding-top: 5%;
  padding: 5%;
  margin-top: 3%;
}
.inner-column{
  flex:1;
  flex-wrap: wrap;
  max-height:60%;
  grid: 1/ 2;
  margin: 20% 5%;
  border-radius: 25px;
  text-align: center;
  background-color: #cf700a ;
}
.inner-column :hover{
  border-radius: 25px;
  background-color: #85cced;
}
h2{
  text-align: center;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
@media screen and (min-width: 768px){
  .element{
    width: 50%;
  }
  header {
    flex-direction: column;
    align-items: center;
}

}
@media only screen and (max-width: 767px){
  body{
    font-size: 14px;
  } 
  header {
    font-size: 24px !important;
    flex-direction: column;
    align-items: center;
  }

  .row{
    margin-top: 10%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .container{
    max-width: 1200px;
    display: flex;
    flex-basis: 50%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .column{
    max-width: 1200px;
    flex-basis: 50%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   }
   .inner-column{
    max-width: 1200px;
    flex-basis: 50%;
   }
}
@media (min-width: 768px) and (max-width: 1200px){
  body{
    font-size: 14px;
  } 
  header {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .row{
    margin-top: 10%;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .container{
    max-width: 1200px;
    display: flex;
    flex-basis: 50%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .column{
    max-width: 1200px;
    flex-basis: 50%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   }
   .inner-column{
    max-width: 1200px;
    flex-basis: 50%;
   }
}